/* Font Import */
/* Headings, Call-to-actions, Header Navigation - Raleway */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* Body */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Variables */
:root {
    --primary-color-main: hsl(243, 87%, 12%);
    --primary-color-sec: hsl(238, 22%, 44%);
    --accent-primay: hsl(224, 93%, 58%);
    --accent-sec: hsl(224, 89%, 64%);
    --neutral-primary: hsl(240, 75%, 98%);
    --neutral-sec: hsl(0, 0%, 75%);
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Basic Changes */
a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.header {
    padding: 3.5rem 6rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header .header__logo-box .header__logo {
    width: 14rem;
}

.header .header__link-box {
    display: flex;
    align-items: center;
}

.header ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.header ul li {
    color: var(--primary-color-main);
    padding: 0rem 2rem;
    font-size: 1.4rem;
}